<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h-text">H2 text</h2>
    <h3 class="h-text">H3 text</h3>
    <p>Cross-browser. Playwright supports all modern rendering engines including <span
            style="color: green">Chromium</span>, WebKit, and
        Firefox.</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <p></p>
    <img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 200px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" placeholder="Text">
        <input type="email" required placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea placeholder="default" required></textarea>

        <label for="username">Имя:</label>
        <input type="text" id="username" name="username">

        <!-- Для чекбокса -->
        <input type="checkbox" id="agree" name="agree">
        <label for="agree">Я согласен с условиями</label>
        <button type="submit">Click here!</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>